<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>create new post</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <h1 class="main_line">New post..</h1>
    <form  class="main_line" action="/posts" method="post">
        <input type="text" placeholder="enter name" name="username" /><br /><br />
        <textarea
          name="content"
          id=""
          cols="30"
          rows="10"
          placeholder="write text content..."
        ></textarea>
        <br /><br />
        <button>submit</button>
    </form>
  </body>
</html>
